postgres/

jenkins_home/*
!jenkins_home/sputnik_config
!jenkins_home/script

nginx/*
!nginx/nginx.conf

mysql/*
!mysql/etc/
mysql/etc/*
!mysql/etc/my.cnf

gerrit/*
!gerrit/etc/
gerrit/etc/*
!gerrit/etc/gerrit.config
!gerrit/etc/secure.config
