[gerrit]
  basePath = git
  canonicalWebUrl = http://review.test.netease.com/gerrit
  serverId = e281faf1-6461-40cb-9372-2e9c6466aff3

[database]
  type = postgresql
  hostname = postgres
  database = gerrit_db
  username = gerrit

[index]
  type = LUCENE

[auth]
  type = OPENID

[receive]
  enableSignedPush = false

[sendemail]
  smtpServer =
  smtpServerPort = 25
  smtpUser =
  smtpPass =
  from =

[container]
  user = gerrit
  javaHome = /usr/lib/jvm/java-1.8.0-openjdk-1.8.0.151-1.b12.el7_4.x86_64/jre

[sshd]
  listenAddress = *:29418

[httpd]
  listenUrl = proxy-http://*:8080/gerrit

[cache]
  directory = cache

[plugins]
  allowRemoteAdmin = true
