[gerrit]
  basePath = git
  canonicalWebUrl = http://review.test.netease.com/gerrit
  serverId = e281faf1-6461-40cb-9372-2e9c6466aff3

[database]
  type = postgresql
  hostname = postgres
  database = gerrit_db
  username = gerrit

[index]
  type = LUCENE

[auth]
  type = OPENID

[receive]
  enableSignedPush = false

[sendemail]
  smtpServer =
  smtpServerPort = 25
  smtpUser =
  smtpPass =
  from =

[container]
  user = gerrit
  javaOptions = -Dfile.encoding=UTF-8

[sshd]
  listenAddress = *:29418

[httpd]
  listenUrl = proxy-http://*:8080/gerrit

[cache]
  directory = cache

[plugins]
  allowRemoteAdmin = true

[commentLink "its-jira"]
  match = (CLD[A-Z]+-[0-9]+)
  html = "<a href=\"http://jira.example.com/browse/$1\" target="_blank">$1</a>"
  association = SUGGESTED

[its-jira]
  url = http://jira.example.com/
  username = 
